*{
    margin: 0;
    padding: 0;
}
.container{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}
.header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
}
.getintouch{
    background-color: #004AAD;
    color: aliceblue;
    padding: 10px 30px;
    border-radius: 30px;
    border: none;
    font-size: larger;
}
.bgcolor{
    background-color: #004AAD;
    display: flex;
}
.Best{
    color: aliceblue;
    margin-top: 30px;
    margin-bottom: 100px;
    padding-left: 100px;
    font-size: x-large;
}
.whyus{
    color: aliceblue;
    padding-left: 100px;
}
.button{
    margin-top: 90px;
    padding-left: 100px;
}
.booknow{
    background-color: aliceblue;
    color: #004AAD;
    padding: 10px 30px;
    border-radius: 30px;
    border: none;
    font-size: larger;
}
.heading1{
    text-align: center;
    margin-top: 40px;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    justify-content: space-between;
}
.card1{
    background-color: aliceblue;
    padding: 40px;
}
.card2{
    background-color: aliceblue;
    padding: 40px;
}
.card3{
    background-color: aliceblue;
    padding: 40px;
}
.card4{
    background-color: aliceblue;
    padding: 40px;
}
.section3{
    background-color: #80D2FF;
}
.heading2{
    text-align: center;
    margin-top: 40px;
    padding-top: 40px;
}
.stats{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 40px;
    padding-bottom: 40px;
}
.stat1{
    text-align: center;
}
.stat2{
    text-align: center;
}
.stat3{
    text-align: center;
}
.stat4{
    text-align: center;
}
.heading3{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}
.question1{
    background-color: #80D2FF;
    color: rgb(30, 29, 29);
}
.quest1{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
}
.answer{
    padding: 20px;
}
.question2{
    background-color: aliceblue;
    color: rgb(30, 29, 29);
    margin-top: 20px;
}
.quest2{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
}
.question3{
    background-color: aliceblue;
    color: rgb(30, 29, 29);
    margin-top: 20px;
}
.quest3{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
}
.section5{
    margin-top: 40px;
}
.topic{
    padding-left: 10px;
}
.feedbacksection{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.customer1{
    background-color: rgb(223, 226, 233);
}
.name1{
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
    justify-content: space-around;
}
.nametag1{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.feed1{
    padding: 20px;
}
.customer2{
    background-color: rgb(223, 226, 233);
}
.name2{
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
    justify-content: space-around;
}
.nametag2{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.feed2{
    padding: 20px;
}
.button1{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.book1{
    color: rgb(16, 16, 17);
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
    font-size: larger;
}
.book2{
    color: rgb(16, 16, 17);
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
    font-size: larger;
}
.quote{
    background-color: rgb(16, 16, 17);
    color: white;
    padding: 10px 30px;
    border: none;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    font-size: larger;
    margin-top: 10px;
}
.star1{
    color: rgb(209, 188, 65);
}
.brand{
    background-color: rgb(90, 188, 230);
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    justify-content: space-between;
    align-items: center;
}
.sociallinks{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
}